
{% extends 'admin_templates/adminpanel.html' %}
{% load static %}
  {% block content %}

 

 
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Add Product Color - {{productid}} : {{product.name}}</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" method="post" class="tm-edit-product-form" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ fm.as_p }}
                  
                  <div class="form-group form-button">
                    <input type="submit" name="add_products" id="add_products" class="form-submit" value="Add"/>
                </div>
               </form>
                </div>
          </div>
        </div>
      </div>
    </div>
   

    {% endblock content %}
    