{% extends 'admin_templates\adminpanel.html' %}
{% load static %}


{% block content %}
      
      <div class="col-sm-11 card-body">
        <form action="" class="d-none d-md-flex input-group w-auto my-auto" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark btn-outline-success" >
              <i class="fa fa-search " aria-hidden="true"  style="color:#FFFFFF;"></i>
            </button>
            <input autocomplete="off" type="text" required="" class='form-control rounded border ' id="search" name="query" placeholder="Search" aria-label="search"  style="min-width: 125px;">
        </form>
    </div>
        <!-- row -->
        <div class="row tm-content-row">
          
          <div class="col-sm-3">
            <h4 class="text-center alert alert-info">CART</h4>
            <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Created at</th>
            
          </tr>
        </thead>
        <tbody>
        {% for cart in cart %}
          <tr>
            <th scope="row">{{cart.id}}</th>
          
            <td>{{cart.user}}</td>
            <td>{{cart.created_at}}</td>
          </tr>
        {% endfor %}
      
            </table>
          </div>

          <div class="col-sm-9">
            <h4 class="text-center alert alert-info">CART-ITEMS</h4>
            <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Cart</th>
            <th scope="col">Product</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
            <th scope="col">Quantity</th>
            
          </tr>
        </thead>
        <tbody>
        {% for item in cartitems %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.user}}</td>
           
            <td>
              {% for cart_items in item.cart_items.all %}
              {{cart_items.cart}}<br>
            {% endfor %}
          </td>
            <td>
              {% for cart_items in item.cart_items.all %}
              {{cart_items.product}}<br>
            {% endfor %}</td>
            <td>
              {% for cart_items in item.cart_items.all %}
              {{cart_items.product_variant}}<br>
            {% endfor %}
          </td>
            <td>
              {% for cart_items in item.cart_items.all %}
              {{cart_items.product_color}}<br>
            {% endfor %}
              
            </td>
            <td>
              {% for cart_items in item.cart_items.all %}
              {{cart_items.quantity}}<br>
            {% endfor %}
              </td>
            
          </tr>
        {% endfor %}
      
            </table>
          </div>
        </div>
        </div>
      </div>
     
{% endblock content %}
  