{% extends 'admin_templates/adminpanel.html' %}
{% load static %}


{% block content %}



<table class="table table-hover tm-table-small tm-product-table">
    <thead>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">PRODUCT CATEGORY</th>
        <th scope="col">PRODUCT SUBCATEGORY</th>
         <th scope="col">PRICE</th>
        <th scope="col">IN STOCK</th> 
        <th scope="col">Image</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    
    <tbody>
        {% for pdt in pdt %}
      <tr>
        <th scope="row"><input type="checkbox" /></th>
        <td class="tm-product-name">{{pdt.name}}</td>
        <td>{{pdt.category}}</td>
        <td>{{pdt.subcategory}}</td>
         <td>₹{{pdt.price}}</td> 
         <td>{{pdt.instock}}</td>
        <td><img src="{{ MEDIA_URL }}{{ pdt.image.url }}" alt="not working" style="height:80px"></td>
        <td>
          <a href="#" class="tm-product-delete-link">
            <i class="far fa-trash-alt tm-product-delete-icon"></i>
          </a>
        </td>
      </tr>
    </tbody>
      
           {% endfor %}
  </table>



{% endblock content %}