
{% extends 'store_templates/homepage.html' %}
{% load static %}

    
{% block content %}
   
 
        

            
        <section class="sign-in">
           
            <div class="container d-flex mb-5 mt-5" style="gap:80px;float: right;">
             {% if address_added %} 
                <div class="card mt-5 mb-5 border-none shadow">
                        <div class="card-body ">
                        <h1 class="card-title">Your Default Address</h1>
                        <address><h5>Name : {{default_address.user.name}}</h5>
                            <h5>Phone.No : {{default_address.user.phone_number}}</h5>
                            <p class="ml-0">{{default_address.address_line_1}} , 
                            {{default_address.address_line_2}} , 
                            {{default_address.city}}, 
                            {{default_address.state}} ,                  
                            {{default_address.country}} ,
                            {{default_address.pincode}} 
                            {{default_address.status}} 
                            </p></address>
                        </div>
                        
                        <div class="card-footer">
                           <a href="{% url 'userprofile' %}">
                            Change Default Address
                           </a>                          
                            {% if default_address.status %}
                            <i class="fa fa-check-circle text-success"></i>
                            {% endif %}
                        </div>
                </div>     
               
               

                <div class="card mt-5 mb-5 border-none shadow" style="width:18rem">
                    <div class="card-body text-center">
                      <h1 class="card-title text-center">Order</h1>
                      <h6 class="card-subtitle mb-2 text-muted">Total Items :
                        <span class='pl-4'>{{total_quantity}} items</span>
                      </h6>
                    
                      <h6 class="card-subtitle mb-2 text-muted">Sub Total :
                        <span class='pl-4'> ₹  {{total_price}}</span>
                      </h6>

                         <!-- Dropdown menu -->
                          <select id="myDropdown" class="mt-5">
                            <option value="">Payment Method</option>
                            <option value="option1">Cash On Delivery 1</option>
                            <option value="option2">Razorpay</option>
                          </select>

                          <!-- Proceed button -->
                          
<!--                           
                           <button name="cod_button"  class="cod_button btn-dark">COD</button>
                           <button name="razorpay_button"  class=" btn-dark">Razorpay</button> -->

                          <button   class="proceed_button btn-dark">Proceed</button>

                         
                          {% if flag == 1 %}
                          <button   class="wallet_pay btn-dark mt-4 pl-3 pr-3">Pay using Wallet</button>
                          {% endif %}


                          <!-- Pop-up overlay -->
                          <div id="overlay" class="overlay"></div>

                          <!-- Pop-up content -->
                        <div id="popup" class="popup" style="background-color: #4BB543;">
                           <div class="row m-auto">
                            <div class="col-sm-10 offset-sm-1 text-center">
                              <p class="icon-addcart"><span><i class="icon-check"></i></span></p> 
                              <h2 class="mb-4">Thank you for purchasing</h2>
                                <i class="fa fa-check-circle fa-4x text-success"></i>
                              
                              <h5>your order id :<span id="cod_order_id">0</span></h5>
                              <h5>Cash On Delivery</h5> 
                              <h5>Amount to be Paid: <span id="cod_amount_to_be_paid">0</span></h5> 
                            <button ><a href="{% url 'homepage' %}">Close</a></button>
                            </div>
                           </div>
                        </div>
                        
                
                         
                                            
                    </div>
                  </div>
            {% else %}

            <div class="card mt-5 mb-5" style="width: 18rem;height: 18rem;">
                <h5 class="card-title mt-5 text-center">Your Address is Empty</h5>

            <a class="btn ml-5 mr-5" style="border-color: black;" href="{% url 'add_address' %}">Add Shipping Address</a>
            </div>
            {% endif %}
            
            <h4 class="mb-5"><a href="{% url 'cart' %}">Back to Cart</a></h2>
            </div>
         
             
        </section>


<!-- to show payment button when we select payment method -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.myLink').click(function (event) {
            event.preventDefault(); // Prevent the default behavior of the hyperlink
            $('.myButton').show();
        });
    });
</script>

<script>
function showRazorpay() {
  console.log("r")
  var razorpayApiKey = 'rzp_test_dFh4aC1ZdKsGUq';
    var orderID = document.getElementById("order-id").value;
    var amount = document.getElementById("amount").value;
  

  // Create an options object with payment details
  var options = {
    key: razorpayApiKey,
    amount: parseInt(amount)*100, // Replace with the actual amount
    currency: 'INR',
    name: 'Ecomerce',
    description: 'Payment for your purchase',
    order_id:orderID,
    handler: function(response) {
      // Handle the response after payment completion
      console.log(response);
      console.log("handler")

    
      // Add your own logic here
           
        }
        
  };

  // Initialize Razorpay checkout
  var rzp = new Razorpay(options);
  rzp.open();
}
</script>



 {% endblock content %}