
{% extends 'store_templates\homepage.html' %}

{% load static %}

{% block content %}

<div class="fashion_section">
    <h1 class="fashion_taital pt-5">Ladies Collections</h1>
    <div id="main_slider" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          
          
          <div class="carousel-item active">
             
             <div class="container">
                
                <div class="fashion_section_2">
                   <div class="row">
                      {% for product in product %}
                      
                      <div class="col-lg-4 col-sm-4">
                         <div class="box_main">
                            <h4 class="shirt_text">{{product.name}}</h4>
                            {% comment %} <h4 class="shirt_text">{{product.description}}</h4> {% endcomment %}
                            <p class="price_text"><span style="color: #262626;">₹{{product.productvariant.first.price}}</span></p>
                            <div class="tshirt_img">
                              <a href="{% url 'product_details' product.id %}">
                                 <img src="{{ MEDIA_URL }}{{ product.productcolor.first.color_image.url }}" alt="not working">
                              </a>
                           </div>
                            <div class="btn_main">
                               <!-- <div class="buy_bt"><a href="#">Buy Now</a></div> -->
                               <div class="seemore_bt"><a href="{% url 'product_details' product.id %}">See More</a></div>
                            </div>
                         </div>
                      </div>
                      {% endfor %}
                   </div>
                </div>
             </div>
          </div>
         
          
       </div>
       <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
       <i class="fa fa-angle-left"></i>
       </a>
       <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
       <i class="fa fa-angle-right"></i>
       </a>
    </div>
 </div>
 <!-- fashion section end -->

{% endblock content %}